/* don't forget to implement a reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* you need to implement styles for your dark and your light theme */
/* which will be the default? up to you */
* {
    box-sizing: border-box;
    /* margin: 100%; */
    /* border: 1px solid red; */
}
html {
    height: 100%;
}
body {
    background-color: black;
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.button-box {
    height: 100%;
    /* margin: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;

}
div {
    height: 20vh;
    width: 35vh;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    transition: background 0.2s linear;
}
div p {
    font-size: 1rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
div.dark {
    background-color: rgb(51, 51, 51);
}
div.dark p {
    color: azure;
    text-transform: var();
}
/* button {
    height: 3vh;
    margin: 0%;
} */
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5vh;
    height: 3vh;
    width: 5vh;
    border-radius: 5vh;
    position: relative;
    margin: 2vh;
    transform: scale(1.5);
}
.ball {
    background-color: azure;
    position: absolute;
    height: 2.4vh;
    width: 2.4vh;
    border-radius: 50%;
    left: .1vh;
    transition: transform 0.2s;
}
.checkbox:checked + .label .ball {
    transform: translateX(2.4vh);
}
.fa-moon {
    color: yellow;
}
.fa-sun {
    color: orange;
}
